#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.nav{
  display: flex;
  justify-content: center;
  gap : 4rem;
  align-items: center;
  
  height: 75px;
}

/* #items{
  padding: 6px 16px;
  background-color: rgb(235, 216, 216);
  color: black;
  font-weight: 500; */

.footer{
  display: flex;
  justify-content: center;
  gap : 4rem;
  align-items: center;
  background-color:rgb(235, 216, 216) ;
  height: 45px;
  
}
.active{
  color: orange;
}